{{/* yaml-language-server: $schema=https://vriesdemichael.github.io/keycloak-operator/schemas/v1/KeycloakRealm.json */}}
apiVersion: vriesdemichael.github.io/v1
kind: KeycloakRealm
metadata:
  name: {{ include "keycloak-realm.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "keycloak-realm.labels" . | nindent 4 }}
  {{- with include "keycloak-realm.annotations" . }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
  realmName: {{ include "keycloak-realm.realmName" . }}

  {{- with .Values.displayName }}
  displayName: {{ . | quote }}
  {{- end }}

  {{- with .Values.description }}
  description: {{ . | quote }}
  {{- end }}

  {{- with .Values.loginPageTitle }}
  loginPageTitle: {{ . | quote }}
  {{- end }}

  # Operator reference
  operatorRef:
    namespace: {{ required "operatorRef.namespace is required" .Values.operatorRef.namespace }}

  # Client authorization grants
  {{- with .Values.clientAuthorizationGrants }}
  clientAuthorizationGrants:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.security }}
  security:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- if or .Values.themes.login .Values.themes.admin .Values.themes.account .Values.themes.email }}
  themes:
    {{- with .Values.themes.login }}
    login: {{ . }}
    {{- end }}
    {{- with .Values.themes.admin }}
    admin: {{ . }}
    {{- end }}
    {{- with .Values.themes.account }}
    account: {{ . }}
    {{- end }}
    {{- with .Values.themes.email }}
    email: {{ . }}
    {{- end }}
  {{- end }}

  {{- with .Values.localization }}
  localization:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.tokenSettings }}
  tokenSettings:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- if .Values.smtpServer.enabled }}
  smtpServer:
    host: {{ required "smtpServer.host is required when smtpServer.enabled=true" .Values.smtpServer.host }}
    port: {{ .Values.smtpServer.port }}
    {{- with .Values.smtpServer.from }}
    from: {{ . }}
    {{- end }}
    {{- with .Values.smtpServer.fromDisplayName }}
    fromDisplayName: {{ . }}
    {{- end }}
    {{- with .Values.smtpServer.replyTo }}
    replyTo: {{ . }}
    {{- end }}
    {{- with .Values.smtpServer.envelopeFrom }}
    envelopeFrom: {{ . }}
    {{- end }}
    ssl: {{ .Values.smtpServer.ssl }}
    starttls: {{ .Values.smtpServer.starttls }}
    auth: {{ .Values.smtpServer.auth }}
    {{- with .Values.smtpServer.user }}
    user: {{ . }}
    {{- end }}
    {{- if .Values.smtpServer.passwordSecret.name }}
    passwordSecret:
      name: {{ .Values.smtpServer.passwordSecret.name }}
      key: {{ .Values.smtpServer.passwordSecret.key | default "password" }}
    {{- end }}
  {{- end }}

  {{- with .Values.attributes }}
  attributes:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.identityProviders }}
  identityProviders:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.clientScopes }}
  clientScopes:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.defaultClientScopes }}
  defaultClientScopes:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.optionalClientScopes }}
  optionalClientScopes:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- if .Values.roles.realmRoles }}
  roles:
    realmRoles:
      {{- toYaml .Values.roles.realmRoles | nindent 6 }}
  {{- end }}

  {{- with .Values.groups }}
  groups:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.defaultGroups }}
  defaultGroups:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.userFederation }}
  userFederation:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.passwordPolicy }}
  {{- if or .length .upperCase .lowerCase .digits .specialChars .notUsername .notEmail .hashIterations .passwordHistory .forceExpiredPasswordChange .maxLength .regexPattern }}
  passwordPolicy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}

  {{- with .Values.otpPolicy }}
  otpPolicy:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.webAuthnPolicy }}
  webAuthnPolicy:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.webAuthnPasswordlessPolicy }}
  webAuthnPasswordlessPolicy:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- if or .Values.eventsConfig.eventsEnabled .Values.eventsConfig.adminEventsEnabled }}
  eventsConfig:
    {{- toYaml .Values.eventsConfig | nindent 4 }}
  {{- end }}

  {{- with .Values.authenticationFlows }}
  authenticationFlows:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.browserFlow }}
  browserFlow: {{ . | quote }}
  {{- end }}
  {{- with .Values.registrationFlow }}
  registrationFlow: {{ . | quote }}
  {{- end }}
  {{- with .Values.directGrantFlow }}
  directGrantFlow: {{ . | quote }}
  {{- end }}
  {{- with .Values.resetCredentialsFlow }}
  resetCredentialsFlow: {{ . | quote }}
  {{- end }}
  {{- with .Values.clientAuthenticationFlow }}
  clientAuthenticationFlow: {{ . | quote }}
  {{- end }}
  {{- with .Values.dockerAuthenticationFlow }}
  dockerAuthenticationFlow: {{ . | quote }}
  {{- end }}
  {{- with .Values.firstBrokerLoginFlow }}
  firstBrokerLoginFlow: {{ . | quote }}
  {{- end }}

  {{- with .Values.requiredActions }}
  requiredActions:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.clientProfiles }}
  clientProfiles:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- with .Values.clientPolicies }}
  clientPolicies:
    {{- toYaml . | nindent 4 }}
  {{- end }}

  {{- if hasKey .Values "organizationsEnabled" }}
  organizationsEnabled: {{ .Values.organizationsEnabled }}
  {{- end }}
  {{- with .Values.organizations }}
  organizations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
