apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "keycloak-operator.fullname" . }}
  namespace: {{ include "keycloak-operator.namespace" . }}
  labels:
    {{- include "keycloak-operator.labels" . | nindent 4 }}
  {{- with include "keycloak-operator.annotations" . }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.operator.replicaCount }}
  selector:
    matchLabels:
      {{- include "keycloak-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "keycloak-operator.selectorLabels" . | nindent 8 }}
        {{- with .Values.commonLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with include "keycloak-operator.annotations" . }}
      annotations:
        {{- . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ include "keycloak-operator.serviceAccountName" . }}
      {{- with .Values.operator.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.operator.securityContext | nindent 8 }}
      containers:
      - name: operator
        image: {{ include "keycloak-operator.image" . }}
        imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8081
          name: metrics
          protocol: TCP
        {{- if .Values.webhooks.enabled }}
        - containerPort: {{ .Values.webhooks.port }}
          name: webhook
          protocol: TCP
        {{- end }}
        env:
        - name: KOPF_STANDALONE
          value: "false"
        - name: KOPF_PEERING_NAME
          value: {{ include "keycloak-operator.fullname" . }}
        - name: KOPF_PRIORITY
          value: "100"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: OPERATOR_NAME
          value: {{ include "keycloak-operator.fullname" . }}
        - name: OPERATOR_NAMESPACE
          value: {{ include "keycloak-operator.namespace" . }}
        - name: OPERATOR_INSTANCE_ID
          value: {{ include "keycloak-operator.instanceId" . }}
        - name: DRIFT_DETECTION_ENABLED
          value: {{ .Values.monitoring.driftDetection.enabled | quote }}
        - name: DRIFT_DETECTION_INTERVAL_SECONDS
          value: {{ .Values.monitoring.driftDetection.intervalSeconds | quote }}
        - name: DRIFT_DETECTION_AUTO_REMEDIATE
          value: {{ .Values.monitoring.driftDetection.autoRemediate | quote }}
        - name: DRIFT_DETECTION_MINIMUM_AGE_HOURS
          value: {{ .Values.monitoring.driftDetection.minimumAgeHours | quote }}
        - name: DRIFT_DETECTION_SCOPE_REALMS
          value: {{ .Values.monitoring.driftDetection.scope.realms | quote }}
        - name: DRIFT_DETECTION_SCOPE_CLIENTS
          value: {{ .Values.monitoring.driftDetection.scope.clients | quote }}
        - name: DRIFT_DETECTION_SCOPE_IDENTITY_PROVIDERS
          value: {{ .Values.monitoring.driftDetection.scope.identityProviders | quote }}
        - name: DRIFT_DETECTION_SCOPE_ROLES
          value: {{ .Values.monitoring.driftDetection.scope.roles | quote }}
        {{- if .Values.webhooks.enabled }}
        - name: ENABLE_WEBHOOKS
          value: "true"
        - name: WEBHOOK_PORT
          value: {{ .Values.webhooks.port | quote }}
        - name: WEBHOOK_MAX_REALMS_PER_NAMESPACE
          value: {{ .Values.webhooks.quotas.realmsPerNamespace | quote }}
        - name: WEBHOOK_MAX_CLIENTS_PER_NAMESPACE
          value: {{ .Values.webhooks.quotas.clientsPerNamespace | quote }}
        {{- else }}
        - name: ENABLE_WEBHOOKS
          value: "false"
        {{- end }}
        {{- with .Values.operator.env }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        resources:
          {{- toYaml .Values.operator.resources | nindent 10 }}
        livenessProbe:
          {{- toYaml .Values.operator.livenessProbe | nindent 10 }}
        readinessProbe:
          {{- toYaml .Values.operator.readinessProbe | nindent 10 }}
        securityContext:
          {{- toYaml .Values.operator.containerSecurityContext | nindent 10 }}
        volumeMounts:
        - name: tmp
          mountPath: /tmp
      volumes:
      - name: tmp
        emptyDir: {}
      terminationGracePeriodSeconds: 30
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
