{{- if and .Values.keycloak.enabled .Values.keycloak.database.cnpg.enabled }}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Values.keycloak.database.cnpg.clusterName }}
  namespace: {{ include "keycloak-operator.namespace" . }}
  labels:
    {{- include "keycloak-operator.labels" . | nindent 4 }}
spec:
  instances: {{ .Values.keycloak.database.cnpg.instances | default 1 }}

  postgresql:
    parameters:
      max_connections: {{ .Values.keycloak.database.cnpg.postgresql.maxConnections | default "200" | quote }}
      shared_buffers: {{ .Values.keycloak.database.cnpg.postgresql.sharedBuffers | default "256MB" | quote }}

  bootstrap:
    initdb:
      database: app
      owner: app

  storage:
    size: {{ .Values.keycloak.database.cnpg.storage.size | default "1Gi" }}
    {{- if .Values.keycloak.database.cnpg.storage.storageClass }}
    storageClass: {{ .Values.keycloak.database.cnpg.storage.storageClass }}
    {{- end }}
{{- end }}
